

/* ==========================================================================
   =Header
   ========================================================================== */


header{
	border-bottom: 1px solid #DDDDDD;
	box-shadow: 0px 3px 5px #EFEDED;
	background-color: #000 !important;
	right: 0;
	left: 0;
	margin: 0 auto;
	height: 76.5px;
	border-bottom: 7px solid #5c9fe4 !important;
}

iframe{
	margin: 30px auto 30px auto;
	display:block;
}

/*header.stuck .row {
    display: flex;
     align-content: center; 
    align-items: center;
}

header.stuck .row #logo{
		padding:0 !important;
}*/



	@media (min-width: 1025px) {


		header {
			position: absolute;
			top: -43; 				/* 2 */
			right: 0;
			left: 0;
			margin: 0 auto;
			height: 133px;
		}



		header.stuck {
			position: fixed;
			z-index: 1020; /* 1. The z-index has to be 1020 so it is bigger than the back to top buttons z-index that is 1010 */
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			padding: 0px 0 0 0;
  			border-bottom: 1px solid #e0e0e0;
			margin: 0 auto;
			background-color: rgba(255, 255, 255, 0.95);
			-webkit-transition: padding 0.3s;
					transition: padding 0.3s;
  			height: 76.5px;
		}

		header.stuck  .sf-menu > li > a,
		header.stuck  .sf-menu > li.dropdown > a { padding: 27px 15px; }
		header.stuck .sf-arrows .sf-with-ul:after { margin-top: -3px; }




	}



	@media (min-width: 500px) {

		#logo{
	  		width: 470px;
			padding-top: 22px !important;
			display: flex;
		}

	}


@media (max-width: 500px){

	#logo {
  		width: 82% !important;
  		padding-top: 30px;
  		display: inline-block;

	}

}



/* ==========================================================================
   =MAIN Content
   ========================================================================== */

   html, body, #wrap {
		max-width: inherit !important;
   }



	#wrap {
		position: relative;
		max-width: 1545px;
		margin: 0 auto;
	}

	@media (max-width: 767px) {

		#wrap {}

   		html, body, #wrap {
 			background-color: #FFFFFF!important;
   		}



	}



	main{
		border: 1.2px solid grey;
	    float: inherit;
	    margin: 175px auto 60px auto;
	    padding: 42px 42px;
	    background-color: #fff;

	}


	main a  {
		font-weight: bold;
		color: #DA9732  !important;
	}

	main a:hover {
		color: #DA9732 !important;
	}

   	main p, ul, li{
		font-weight: 400;
		font-size: 19px;
		/*line-height: 1.7;*/
		text-align: justify;
	}



	@media (max-width: 1025px){
	main {
	    margin-top: 0px;
	}
	}

	@media (max-width: 765px){
	main {
		padding: 34px 0px 0px !important;
	    box-shadow: none !important;
	    border-width:0px !important;
	}
	}


	@media (max-width: 500px){
	main{
	    padding: 34px 34px 0px;
	}
	}




/* ==========================================================================
   =Footer
   ========================================================================== */

	footer {
		padding-top: 40px;
		padding-bottom: 40px;
		color: #fff;
  		background-color: #333;
			margin-top: 50px;
	}


	footer h3 {
  		color: #f39300;
	}

	footer a, footer p {
		color: #fff !important;
		font-weight: 500 !important;
		font-size: 100%;
	}

	footer .span3{
		display: flex;
    	align-items: center;
	}

	footer .span3:nth-child(3) p{
		text-align: right; 
		font-size: 88%;
		line-height: 22px;
	}


	footer a:hover {
		color: #f39300 !important;
	}


	footer li{
		font-size:19px;
		font-weight: 900;
		list-style: none;
  		text-align: left;
	}

	footer section.newsletter{
		font-size:16px;
	}

	footer section.newsletter a{
  		color: #f39300!important;
		text-decoration: underline!important;
	}


	footer section.newsletter a:hover{
  		color: #fff!important;
		text-decoration: underline!important;
	}

	.newsletter form{
		display: flex;
		justify-content: flex-end;
	}

	.newsletter form input{
		border-radius: 0;
		border:0;
		padding: 3px 6px;
		margin: 0;
		margin-right: 5px;
		color: black;
	}
	
	.newsletter form button{
		background-color: #DA9732;
		border: 0;
		padding: 1px 9px;
	}
	.newsletter form button i{
		color: #333;
		font-size: 11px;
	}

	footer>.row{
		display: flex;
		justify-content: space-between;
	}

	.rrss-footer .fa {
	    padding: 7px;
	    font-size: 21px;
	    width: 23px;
	    text-align: center;
	    text-decoration: none;
	    margin: 5px 2px;
	    background-color: white;
	    color: #333 !important;
	}


	.textNewsletter{
		font-size: 19px !important;
	}

/* ==========================================================================
   =Blog
   ========================================================================== */

	article { margin-bottom: 80px; }

	article h1 {text-align: center;}

	article .catlink{
  		font-size: 14px;
  		letter-spacing: 0;
  		text-align: center;
		display: block;
	}

	article .fecha  {
	  	float: inherit;
  		padding: 8px 0 15px 0;
  		font-size: 14px;
  		line-height: 1;
  		font-weight: 700;
  		letter-spacing: 0;
  		text-align: left;
		display: block;
	}

	article p {
		margin-top: 20px;
		letter-spacing: 1px;
	}

	article .footer {
		width: 100%;
		padding: 1px 0 1px 30px;
		margin-right: 20px;
		margin-bottom: 35px;
		background-color: #F6F6F6;
	}


	article .footer p{
		font-weight: 700;
		letter-spacing: 0;
		color: #555!important;
		font-size: 16px;
		margin-top: 8px;
		margin-bottom: 8px;
	}


	article blockquote {
		position: relative;
		margin: 50px 0 50px 50px;
		padding-left: 100px;
	}

	article blockquote:before {
		position: absolute;
		top: 0;
		left: 0;
		/*font-family: "FontAwesome";*/
		font-size: 60px;
		line-height: 60px;
		content: "";
	}

	@media (max-width: 767px) {

		article blockquote {
			padding-left: 40px;
			margin-left: 0;
		}

		article blockquote:before {
			font-size: 28px;
			line-height: 28px;
		}

	}

	.collapse a, .collapsing a{
		color: black !important;
		font-weight: 400;
	}





article ul {
    list-style: none;
    padding:0;
    margin:0;
    color:black;
}

article li {
    padding-left: 2em;
    text-indent: -.7em;
    padding-bottom: 0.5em;
}





article ul li:before {
    content: "• ";
    color: #DA9732;
}

article .collapse ul, article .collapsing ul{
  list-style: none;
  margin-left: 11px;
}

article .collapse ul li:before, article .collapsing ul li:before{
	content: '';
    position: absolute;
    border-right: 1.5px solid black;
    border-bottom: 1.5px solid black;
    width: 8px;
    height: 8px;
    transform: rotate(-45deg) translate(-23px, -5px);
}

article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top:30px;
	margin-bottom:30px;
}

.up-title{
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	border-bottom: 2px solid black;
}

.up-title h1{
	margin: 0;
	letter-spacing: 0;
	font-size: 39px;
}

.up-title a{
	font-size: 18px;
	color: black !important;
	margin-bottom: 5px;

}

.banner{
	margin-top: 100px;
	width: auto;
	text-align: center;
}

.banner img{
		max-width: 98%;
}


main.post{
	margin-top: 42px;
}

/* BI FACIL */




#menu .active{
	color:#fffff !important;
	background-color: #f39300;
}


@media (max-width: 979px) and (min-width: 768px){
#mobile-menu-trigger {
  display: block;
  margin-top: 25px;
  margin-right: 0;
}
}




.sf-menu > li > a, .sf-menu > li.dropdown > a{
	/*font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
*/	color:#fff !important;
	font-size: 17px;
}



.btn {
    display: inline-block;
    padding: 2px 10px;
    border: 2px solid #DA9732;
    border-radius: 3px;
    margin: 0px 5px 0px 0px;
    background-color: #DA9732;
    color: #7A7885;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none !important;
    vertical-align: middle;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
    /*font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
*/}
.pagination {
	list-style: none;
	margin: 45px auto 0px;
	display: table;
}
.pagination a{
	border: 2px solid #f39300;
}
.pagination li.current a, .pagination li a:hover {
  background-color: #DA9732;
}
/* Text */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, p, p a, ul, li, details, .btn a:hover{
	color:#444;
	text-decoration: none;
}

h1 a:hover, h1 a:focus {
  text-decoration: underline;
}



.orange{
	color: #DA9732;
}




h4 {
	font-size: 32px;
	line-height: normal;
	margin-bottom: 24px;
	letter-spacing: 1;
	font-weight: bold;
	text-transform: inherit;
	color: black;
}
h4 a:hover{
	text-decoration: none;
	color: #DA9732;
}

.hyphenate {
        text-align:justify;
        hyphens: auto;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
    }
p {
	text-align: justify;
}


h1 a {
	font-weight: bold;
	color: #DA9732  !important;
}
h1 a:hover {
	color: #DA9732 !important;
}



/* ==========================================================================
   =Inicio
   ========================================================================== */

.mainhome main{
		margin-top: 16px !important;
	}

.tagline {
	font-weight: bold !important;
	color: #555;
}

	.blogautor h6{
		font-style: italic;
		font-size: 15px;
		color: #fff;
		text-transform: inherit;
		font-weight: bold !important;
		letter-spacing: 0px !important;
		margin-top: 12px;
		margin-left: 10px;
	}

	·span9{
		width: 430px !important;
		float: right;
	}

	main.archivo, main.search{
		margin-top:175px;
	}



	.home_bif {
		margin-top: 90px;
	}
	.home_bif h2{
		color: #000000;
		font-size: 24px;
		text-align: center;
	}
	.home_bif h4{
		color: #000;
		font-size: 20px;
	}

	.home_bif .span4 p{
		font-weight: 400;
		font-size: 18px;
		text-align: inherit;
	}
	.home_bif ul{
	    list-style-type: none;
	    margin-bottom: 6px;

	}
	#ultimos_articulos h3 {
		text-align: left !important;
		line-height: normal;
	}
	#ultimos_articulos p{
		font-size: 18px;
		margin-bottom: 0px;
		margin-top: -10px;
	}
	#ultimos_articulos .separador{
        margin: 0px 0px -13px 0px;
        border-bottom: 1px dashed #c7c7c7
	}


	.boton{
		background-color: #DA9732;
		padding: 6px 15px;
		text-align: center;
		float: right;
		color: #fff !important;
		font-weight: 700;
		line-height: 150%;
	}

	.row.archivo{
		margin-top: 125px;
   		position: absolute;
    	width: 100%;
	}

	.row.archivo>ul{
		display: flex;
		justify-content: flex-end;
		list-style: none;
	}

	.row.archivo>ul>li {
		padding-bottom: 0;
		line-height: 32px;
		margin-left: 10px;
	}
	.row.archivo>ul>li:before {
		content: none;
	}
	

	.row.archivo>ul>li>a{
		color: black !important;
		text-decoration: none;
		border: 2px solid #5c9fe4;
		padding:.2em;
	}

	.row.archivo>ul>li>a.selected{
		
		background-color: #5c9fe4;		
		color: white !important;
	}

	
	.masColl{
		display: flex;
		align-items: center;
	}

	.masColl h3{
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.masColl a{
		margin-left: 10px;
	}


	.masColl a i{
		font-size: 22px;
		color:#5c9fe4 ;
	}


	#ultimos_articulos .boton {
		background-color: #7A7885;
		padding: 5px 9px;
		font-size: 12px;
	}
	#ultimos_articulos .boton:hover {
		background-color: #DA9732;
	}

	.boton:hover, .newsenviar:hover{
		background-color: #000;
		color: #fff !important;
		text-decoration: none;
	}


.boton:hover, .newsenviar:hover{
	background-color: #000;
	text-decoration: none;
}

#ultimos_articulos .articulos_list{
	display: inline-block;
	margin-bottom: 20px;
}
.botones_por_donde_empezar{
	display: table;
	margin: 0px auto 20px auto;
}

#por_donde_empezar .boton{
	float: left;
	margin: 10px;
	width: 150px;
	padding: 6px 6px;
}

	@media screen and (min-width:760px) and (max-width: 980px){
		#por_donde_empezar .boton{
			width: 239px;
		}
	}
	@media (max-width: 405px){
		#por_donde_empezar .boton{
			width: 148px;
		}
	}
	.imgcenter{
		margin: 0 auto;
		display: table;
		margin-bottom: 20px;
	}
	a{
		color:#DA9732 !important;
	}
	.newsmail{
		width: 60%;
		float: left;
		margin-right: 20px;
	}
	.newsenviar{
		width: 32%;
		background-color: #DA9732;
		border-radius: 6px;
		color: #fff !important;
		border: none;
		text-align: center;
		font-weight: 700;
		height: 43px;

	}

    .item-left{
	     float: left !important;
	     clear: left;
   }

    .item-right {
		float: right !important;
		clear: right;
    }

	.span4{
		margin: 15px auto 15px auto;
		border-style: solid;
		border-width: 1px;
		padding: 20px 42px;
		border-color: #F0F0F0;
		box-shadow: 0px 0px 6px #f0f0f0;
		background-color: #fff;
		border:1.2px solid grey;

	}



	@media (max-width: 765px){
		.span4{
			padding: 34px 0 0 !important;
			border-style: none !important;
			border-width: none !important;;

			border-color: none !important;;
			box-shadow: none !important;;
			background-color: #fff;
		}
	}


/* ==========================================================================
   Código PRETTYFY
   ========================================================================== */


.pln{
    color: #244B0A;
}

.str,.lit{
    color: #FF0000;
}

.kwd{
    color: #0000FF;
}

.com{
  color: rgb(64, 189, 33);
  font-weight:bold;
}

.pun {
    color: #660;
}



div.viewSql {
	text-align: right;
	margin-bottom: 50px;
}


div.viewSql .btn {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

pre code{
	display: block;
	width: 100%;
	overflow-x: auto;
	white-space: pre;
}


