/*TOPBAR*/
#u-topbar {
    z-index: 1;
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: var(--azul);
    border-bottom: 0px solid #e5e5e5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}
#u-topbar .title {
  text-align: left;
  font-size: 24px;
  padding: 28px 0px 23px 40px;
  color: #2dc0e8;
  font-weight: 100;
  float: left;
  line-height: 12px;
  width: 240px;
  position: relative;
}
#u-topbar .title .title-sub {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
}
.left-panel-toggle {
  margin: 27px 0 0 60px;
  display: inline-block;
  font-size: 17px;
}
.left-panel-toggle:hover {
  cursor: pointer;
}
@media (max-width: 768px) {
  #u-topbar .title {
    padding: 18px 0px 19px 15px;
    width: 74px;
  }
  #u-topbar .left-panel-toggle {
    margin: 27px 0px 0px 20px;
  }
  #u-topbar .topbar-button {
    margin: 27px 0px 0px 40px;
  }
  .right-true #u-topbar .left-panel-toggle {
    margin-right: 15px;
  }
}
@media (max-width: 429px) {
  #u-topbar .message-btn {
    display: none;
  }
  #u-topbar .topbar-button {
    margin: 27px 0px 0px 30px;
  }
}
@media (max-width: 768px) {
  #u-topbar .topbar-user span {
    display: none;
  }
  #u-topbar .topbar-user .topbar-username {
    display: inline-block;
    margin-top: 15px;
    margin-left: 0;
  }
}
.topbar-button {
  display: inline-block;
  margin: 27px 0px 0px 60px;
}
.topbar-button > li {
  display: inline-block;
  margin-right: 25px;
}
.topbar-button > li > a {
  position: relative;
}
.topbar-button > li > a > i {
  color: #95a5a6;
  font-size: 20px;
}
.topbar-button > li > a em {
  position: absolute;
  display: inline-block;
  width: 15px;
  height: 15px;
  opacity: 0.65;
  right: -5px;
  top: -5px;
  border-radius: 50%;
}
.topbar-button .em-blue {
  background-color: #37A1E7;
}
.topbar-button .em-orange {
  background-color: #F5883C;
}
.topbar-user {
  display: inline-block;
  float: right;
  margin: 17px 60px 0 0;
}
.topbar-user span {
  display: inline-block;
}
.topbar-user .badge-user {
  margin-top: 0px;
}
.topbar-user .topbar-username {
  color: #37A1E7;
  font-size: 13px;
  font-weight: 600;
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #E2E6E9;
}
.topbar-user .topbar-username > i {
  margin-left: 3px;
}
.topbar-user .topbar-userimage {
  margin-left: 10px;
}
.topbar-user .topbar-userimage img {
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
.topbar-user .dropdown a,
.topbar-user .dropdown a:hover,
.topbar-user .dropdown a:focus {
  outline: 0;
  text-decoration: none;
}
.topbar-user .dropdown .dropdown-menu {
  border: 1px solid #E5E5E5;
  box-shadow: none;
  border-radius: 0px;
  padding: 0;
}
.topbar-user .dropdown .dropdown-menu > li a {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777;
  font-size: 13px;
  font-weight: 600;
}
.topbar-user .dropdown .dropdown-menu > li a:hover {
  background-color: #45C7A6;
  color: white;
}
.badge {
  font-size: 11px;
  font-weight: 600;
}
.link-badge {
  margin-left: 20px;
  margin-top: -4px;
}
.left-menu-sub .link-badge {
  margin-left: 15px;
  margin-top: 2px;
}
.badge-green {
  background-color: #45C7A6;
}
.badge-blue {
  background-color: #37A1E7;
}
.badge-orange {
  background-color: #F5883C;
}
.badge-gray {
  background-color: #7F8C8D;
}

/*Fin TOPBAR*/

/*Barra lateral*/
.panel-user-wrapper *{
    overflow: hidden;
}

@media (min-width: 768px){
    #u-topbar{
        display: none;
    }
}
@media (max-width: 768px){
    #u-left-panel .left-panel-toggle{
        display: none;
    }
    
    .panel-user-wrapper{
        display:none;
    }
}
.collapse-true.panel-cp.panel-lg .left-panel-toggle{
    margin-left:17px;
}
.collapse-true.panel-cp.panel-lg .panel-user-wrapper.style1{
    display:none;
}
.panel-user-wrapper.style1.min{
    display:none;
}
.collapse-true.panel-cp.panel-lg .panel-user-wrapper.style1.min{
    display:block;
}
.collapse-true.panel-cp.panel-lg .panel-user-wrapper{
    margin-left:9px;
}
.active-state .left-menu-link-icon .glyphicon.glyphicon-folder-close{
    color:#363636;
}

.active-state .left-menu-link-icon .glyphicon.glyphicon-file{
    color:#363636;
}

#u-left-panel .glyphicon{
    color:#ffffff;
}
.left-menu-parent .glyphicon:hover{
    color:#363636;
}
.glyphicon.glyphicon-menu-hamburger{
    color:#CCCCCC;
}
.left-panel-toggle {
    margin: 27px 0 20px 25px;
    display: inline-block;
    font-size: 17px;
}
.left-menu-parent:hover .glyphicon{
    color: #363636;
}
.left-menu-parent:hover .link-name{
    color: #363636;
}
.left-menu-parent:hover .left-menu-sub.list-unstyled .link-name:hover{
    color:#ffffff;
}
.link-state .glyphicon{
    font-size: 10px;
}
.left-menu-sub.list-unstyled .left-menu-link-info .link-name{
    color:#CCCCCC;
}
#u-app-wrapper {
  position: relative;
  background-color: white;
}
#u-left-panel {
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;

  width: 240px;
  display: none;
  background-color: #363636;
  padding-top: 20px;
}
.panel-wide #u-left-panel {
  width: 100%;
}
@media (min-width: 400px) {
  .boxed-layout {
    padding-right: 29px;
    padding-left: 29px;
    background-color: #517583;
  }
  .boxed-layout .panel-fixed #u-left-panel {
    margin-left: 29px;
  }
  .boxed-layout .panel-fixed #u-topbar {
    margin-left: 29px;
    width: 90%;
  }
  .boxed-layout .panel-wide.panel-fixed #u-left-panel {
    padding-right: 34px;
  }
  .boxed-layout .panel-wide.panel-cp #u-left-panel {
    padding-right: 0;
  }
  .boxed-layout.right-true .panel-fixed #u-left-panel {
    margin-right: 29px;
    margin-left: 0;
  }
  .boxed-layout.right-true .panel-fixed #u-topbar {
    margin-right: 29px;
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  #u-left-panel {
    display: block;
  }
  .panel-lg #u-left-panel {
    display: none;
  }
}
@media (max-width: 768px) {
  #u-left-panel {
    display: none;
  }
  .panel-sm #u-left-panel {
    display: block;
  }
}
@media (min-width: 768px) {
  .panel-cp #u-left-panel {
    width: 50px;
    display: block;
  }
  .panel-cp li {
    position: relative;
  }
  .panel-cp .left-menu-parent {
    padding: 0 5px;
    position: relative;
  }
  .panel-cp .left-menu-parent > a {
    border-radius: 2px;
    position: relative;
    text-align: center;
    padding: 8px;
    margin-bottom: 5px;
  }
  .panel-cp .left-menu-parent > a > .left-menu-link-info {
    position: absolute;
    padding: 8.5px 10px 9px 7px;
    left: 38px;
    top: 0px;
    background-color: #EFEFEF;
    width: 215px;
    text-align: left;
    display: none;
    border-radius: 0px 2px 2px 0px;
  }
  .panel-cp .left-menu-parent > a .link-state {
    display: none;
  }
  .panel-cp .left-menu-parent:hover > a {
    background-color: #EFEFEF;
  }
  .panel-cp .left-menu-parent:hover > a > .left-menu-link-info {
    display: block;
  }
  .panel-cp .left-menu-parent:hover .left-menu-sub {
    display: block;
    position: absolute;
    top: 39px;
    left: 43px;
    width: 215px;
    z-index: 10;
  }
}
.left-menu-wrapper {
  padding: 0;
  margin: 0;
}
.left-menu-link-icon {
  width: 25px;
  display: inline-block;
  text-align: center;
  margin-right: 2px;
  font-size: 16px;
}
.left-menu-link-info .link-name {
  font-weight: 600;
  display: inline-block;
  vertical-align: top;
  margin-top: 3px;
}
.left-menu-link-info .link-state {
  float: right;
  margin-top: 1px;
  font-size: 15px;
}
.panel-transfer-temp {
  width: 1px;
  height: 1px;
  position: fixed;
  right: 0;
  bottom: 0;
}
.panel-effect-transfer {
  background-color: #4f5564;
}
.left-menu-parent {
  padding: 0px 10px;
  margin-bottom: 10px;
}
.left-menu-parent a {
  display: block;
  padding: 10px 20px 10px 12px;
  color: #ffffff;
  position: relative;
  font-size: 13px;
  border-radius: 4px;
}
.left-menu-parent a:hover,
.left-menu-parent a:focus {
  text-decoration: none;
  outline: none;
}
.left-menu-parent a:hover {
  color: #484e5b;
  background-color: white;
}
.left-menu-parent .active-state {
  background-color: #484e5b;
  color: white;
}
.left-menu-parent > .active-state {
  background-color: white;
  color: #484e5b;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.left-menu-parent ul {
  display: block;
  background-color: #444444;
}
.left-menu-parent ul a {
  padding-left: 45px;
}
.left-menu-parent ul a:hover {
  background-color: transparent;
  color: var(--azul-oscuro);
}
.left-menu-parent ul ul a {
  padding-left: 60px;
}
.left-menu-parent ul ul ul a {
  padding-left: 75px;
}
.left-menu-parent ul ul ul ul a {
  padding-left: 90px;
}
.left-menu-active > a {
  background-color: #337AB7;
  color: white;
}
.offcanvas-mode #u-left-panel {
  width: auto !important;
  display: block !important;
}
.offcanvas-mode #u-left-panel a,
.offcanvas-mode #u-left-panel .panel-user-wrapper {
  display: none !important;
}
.panel-horizontal .hidden-horizontal {
  display: none !important;
  visibility: hidden !important;
}
@media (min-width: 768px) {
  .panel-horizontal .left-panel-toggle {
    display: none;
  }
  .panel-horizontal .panel-user-wrapper {
    display: none !important;
  }
  .panel-horizontal.panel-cp .left-menu-parent:hover > a > .left-menu-link-info {
    display: none !important;
  }
  .panel-horizontal #u-left-panel {
    position: relative;
    top: 80px;
    padding: 0px;
    overflow: visible;
    width: auto;
    min-height: 48px;
  }
  .panel-horizontal .left-menu-parent {
    float: left;
    position: relative;
    margin-bottom: 0;
    padding: 0 5px;
  }
  .panel-horizontal .left-menu-parent .left-menu-sub {
    position: absolute;
    width: 165px;
  }
  .panel-horizontal .left-menu-parent .left-menu-sub a {
    padding: 12px 15px 13px;
  }
  .panel-horizontal .left-menu-parent a {
    padding: 12px 8px 13px;
    border-radius: 0;
  }
  .panel-horizontal .left-menu-parent > a {
    margin-bottom: 0;
  }
  .panel-horizontal .left-menu-parent > a .left-menu-link-info .link-state {
    display: none;
  }
  .panel-horizontal .left-menu-parent:hover .left-menu-sub {
    display: block;
    top: 47px;
    left: 5px;
  }
  .panel-horizontal .left-menu-parent:hover .left-menu-sub li:hover {
    position: relative;
  }
  .panel-horizontal .left-menu-parent:hover .left-menu-sub li:hover > ul {
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    width: 165px;
  }
}
.right-true .panel-transfer-temp {
  right: auto;
  left: 0;
}
.right-true .topbar-user {
  float: left;
}
.right-true .topbar-button {
  float: right;
  margin-right: 10px;
}
@media (min-width: 768px) {
  .right-true .panel-horizontal .left-menu-parent {
    float: right;
  }
  .right-true .panel-horizontal .left-menu-parent:hover .left-menu-sub {
    right: 0px !important;
    left: auto !important;
  }
  .right-true .panel-horizontal .left-menu-parent:hover .left-menu-sub li:hover > ul {
    left: auto;
    right: 100%;
  }
}
.panel-fixed #u-left-panel {
  position: fixed;
}
.panel-fixed #u-topbar {
  position: fixed;
}
.panel-fixed-custom #u-left-panel {
  overflow-x: hidden;
}
.panel-fixed-custom #u-left-menu {
  overflow-y: auto;
  margin-right: -17px;
}
.mobile-true #u-left-menu {
  margin-right: 0;
}
/*
User Profile Styles
*/
.panel-user-wrapper {
  overflow: auto;
  margin-left:20px;
}
.style1 .panel-user {
  display: inline-block;
  text-align: left;
  margin: 20px 15px 20px 20px;
  float: left;
}
.style1 .panel-user img {
  width: 68px;
  height: 68px;
  border-radius: 50%;
}
.style1 .panel-user-name {
  display: inline-block;
  color: #2FC8F2;
  font-size: 13px;
  font-weight: 600;
  vertical-align: top;
  margin-top: 25px;
}
.style1 .panel-user-option {
  display: inline-block;
  margin-top: 10px;
}
.style1 .panel-user-option .fa {
  font-size: 13px;
}
.style1 .panel-user-option > .btn.btn-primary {
  background-color: transparent;
  color: #97A0B7;
  border-color: #7B8499;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.style1 .panel-user-option > .btn.btn-primary:hover {
  color: white;
  background-color: #45c7a6;
  border-color: #45c7a6;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.panel-cp .panel-user-name,
.panel-cp .panel-user-option {
  display: none;
}
.panel-cp .panel-user {
  margin: 10px 5px;
}
.panel-cp .panel-user img {
  width: 39px;
  height: 39px;
}
/*Fin barra lateral*/


/************SEP*************/

:root {
  --azul-oscuro: #2A477F;
  --azul: #2e6db0;
  --azul-claro: #1DC7FF;
}

body {
    overflow-x: hidden;
}

.header-panel{
	background-color: var(--azul);
}

.expand .header-panel{
	background-color: inherit;

}

#u-left-panel{
	padding-top: 0;
	position: fixed;
	/*transition: width 0.5s;*/
}

@media (max-width: 768px){

    #u-left-panel{
        padding-top: 90px;

    }
}

/*here*/
/*@media (max-width: 768px){*/
	.expand #u-left-panel{

position: relative;
}

/*}*/

.expand .content-wrapper{
	display: none;
}
.expand #u-left-panel{
	width:100%;
}



.panel-cp #u-left-panel{
	background-color: var(--azul-oscuro);
}

	
	#u-left-menu{
		position: fixed;
	    width: 240px;
	    overflow-y: scroll;
	    top: 93px;
	    bottom: 0;
	    background-color: var(--azul);
	}

	.expand #u-left-menu{
		position: relative;
	    width: 100%;
	    overflow-y: unset;
	    top:0;
	    left: 0;
	   
	}
		
	/*Cuando collapsamos, no mostramos los items del menu*/
	.panel-cp #u-left-menu{
		display: none;
	}

.panel-user-wrapper.style1{
	padding-top: 26px;
	padding-bottom: 15px;

}

.expand .panel-user-wrapper.style1{
	text-align: center;
}

.left-panel-toggle{
	position: absolute;
    top: 57px;
    left: 209px;
    margin: 7px;

}

.panel-cp .left-panel-toggle{
  position: absolute;
    top: -2px;
    left: 0;
    margin: 7px;

}

svg{
	fill: white;
}


.glyphicon-menu-hamburger:before {
   font-family: "Font Awesome 5 Free";
   content: "\f100";
   font-weight: 900;
}
.panel-cp .glyphicon-menu-hamburger:before{
   content: "\f101";

}

.panel-sm .glyphicon-menu-hamburger:before {
	content: "\f100";
}

@media (max-width: 768px){
	.glyphicon-menu-hamburger:before {
		content:  "\f101";
	}
}

/*Boton para expandir*/
.left-panel-toggle3{
	font-size: 13.5px;
	position: absolute;
	top:4px;
	left: 213px;
	margin: 4px;
	z-index: 1000000;
	cursor: pointer;


}

.left-panel-toggle3 .glyphicon.glyphicon-menu-hamburger:before{
	/*content: "";
	background: url("./img/expandir.png") no-repeat;
	display: inline-block;
	    width: 17px;
    height: 17px;
    color: white;*/
    font-family: "Font Awesome 5 Free";
   content: "\f31e";
   font-weight: 900;
}

.expand .left-panel-toggle3{
	right: 0;
	left: auto;
	top:49vh;
}

.expand .left-panel-toggle3 .glyphicon.glyphicon-menu-hamburger:before{
	content: "\f100";
}

@media (max-width: 768px){
	.left-panel-toggle{
		position: absolute;
	    top: 0;
	    left: 70px;
	    margin: 8px;

	}
	 .left-panel-toggle3{

		top:32px;
		left: 200px;
	}
	.expand .left-panel-toggle3{
		display: none;
	}
}





.expand .left-panel-toggle{
	display: none;
}



.expand .left-menu-parent{
	background-color: white;
	color:#006DB0;
}

/*Cambiamos el estilo de los hovers y activates*/
.left-menu-parent > .active-state {
    background-color: transparent;
    color: white;
    font-size:20px;
}

.active-state .left-menu-link-icon .glyphicon.glyphicon-folder-close {
	color:white;
}

.left-menu-parent a:hover {
    color: white;
    background-color: inherit;
}

.left-menu-parent .glyphicon:hover {
    color: white;
}

.left-menu-parent:hover .link-name {
    color: white; 
}
/******************/

.left-menu-parent ul {
    background-color: inherit;

}

.left-menu-sub.list-unstyled .left-menu-link-info .link-name {
    color: white;
    font-size: 15px;
}

.left-menu-sub.list-unstyled .left-menu-link-info .link-name:hover {
    color: var(--azul-oscuro) !important;
    
}

/*Ocultamos el triangulito de al lado de las categorias*/
.link-state{
	display: none;
}

@media (min-width: 576px){
.card-columns {
 column-count:3 !important;
 width: 80%;
 margin:0 auto;
}
}
@media (min-width: 768px){
.card-columns {
 column-count:4 !important;
 width: 80%;
 margin:0 auto;
}
}
/*Estilo de los encabezados expandidos*/
.expand .left-menu-link-info .link-name {
	color: var(--azul) !important;
}

.expand .left-menu-link-info .link-name:hover {
	color: var(--azul-oscuro) !important;
}

.expand .left-menu-link-icon + .left-menu-link-info>.link-name{
	color: var(--azul-oscuro) !important;
}



.expand .glyphicon-folder-close:before {
	color: var(--azul-oscuro);
}

.expand .left-menu-parent ul a:hover {
    
    color: blue;
}

/*Estilo del nombre de usuario*/
.user-name{
	z-index: 10000;
	top:0;
	right:0;
	position:absolute;
	font-weight: bold;
	color: var(--azul-oscuro);
	margin-top: 15px;
	margin-right: 15px;
}

@media (max-width: 768px){
	.user-name{
		color: white;
	}
}

.user-name:before{
	
	   font-family: "Font Awesome 5 Free";
   content: "\f007";
   font-weight: 900;
   padding-right: 5px;
}

.expand + a>.user-name{
	color: white;
}

/*Ponemos los iconos al lado del nombre de la lista*/
.left-menu-parent>a{
	display: inline-flex;
	font-size: 20px;
}

/*scrollbar style*/
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--azul-oscuro); 
}

/*Mensaje modal*/
#popup1{
	z-index: 10000;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
	margin: 15vh auto;
    padding: 20px;
    background: #fff;
    border-radius: 3px;
    width: 30%;
    position: relative;
    transition: all 3s ease-in-out;
}
.popup button{
	/*background-color: var(--azul-oscuro);*/
	margin-left: 10px;

}
.popup h2 {
  margin-top: 0;
  color: #333;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: var(--azul-oscuro);
}
.popup .content {
  max-height: 30%;
  overflow: auto;
  text-align: center;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

@media screen and (max-width: 576px){
	.card{
		margin:10px 20px;
	}
}

.text-menu-crono-rotated{
	color: white;
	font-size: 19px;
	transform: rotate(-90deg);
	    white-space: nowrap;
    position: absolute;
    left: -44.5px;
    top: 128px;
    font-weight: 400;
    display: none;
}

@media (min-width: 768px){
	.panel-cp .text-menu-crono-rotated{
		display: block;
	}
}


/*Iconos en funcion del grupo*/

.glyphicon.glyphicon-folder-close:before{
	content: '';
/*	background-repeat: no-repeat;*/
    height: 23px;
    width: 23px;
    position: absolute;
    left: -11px;
    top: -12px;
}

.preCard:first-child .glyphicon.glyphicon-folder-close:before{
    background: url(./icons/Crono_menu_cercleClar.png) no-repeat;
}

.expand .preCard:first-child .glyphicon.glyphicon-folder-close:first-child:before{
    background: url(./icons/Crono_menu_cercleObscur.png) no-repeat;
}

 .preCard:nth-child(2) .glyphicon.glyphicon-folder-close:before{
    background: url(./icons/Crono_menu_cuadratClar.png) no-repeat;
	
}

.expand .preCard:nth-child(2) .glyphicon.glyphicon-folder-close:before{
    background: url(./icons/Crono_menu_cuadratObscur.png) no-repeat;

}

.preCard:nth-child(3) .glyphicon.glyphicon-folder-close:before{
    background: url(./icons/Crono_menu_hexagonClar.png) no-repeat;

}
.expand .preCard:nth-child(3) .glyphicon.glyphicon-folder-close:before{
    background: url(./icons/Crono_menu_hexagonObscur.png) no-repeat;

}

.preCard:nth-child(4) .glyphicon.glyphicon-folder-close:before{
    background: url(./icons/Crono_menu_pentagonClar.png) no-repeat;

}
.expand .preCard:nth-child(4) .glyphicon.glyphicon-folder-close:before{
    background: url(./icons/Crono_menu_pentagonObscur.png) no-repeat;

}

.preCard:nth-child(5) .glyphicon.glyphicon-folder-close:before{
    background: url(./icons/Crono_menu_poligon2Clar.png) no-repeat;

}
.expand .preCard:nth-child(5) .glyphicon.glyphicon-folder-close:before{
    background: url(./icons/Crono_menu_poligon2Obscur.png) no-repeat;

}
.preCard:nth-child(6) .glyphicon.glyphicon-folder-close:before{
    background: url(./icons/Crono_menu_poligonClar.png) no-repeat;

}
.expand .preCard:nth-child(6) .glyphicon.glyphicon-folder-close:before{
    background: url(./icons/Crono_menu_poligonObscur.png) no-repeat;

}
.preCard:nth-child(7) .glyphicon.glyphicon-folder-close:before{
    background: url(./icons/Crono_menu_triangleClar.png) no-repeat;

}
.expand .preCard:nth-child(7) .glyphicon.glyphicon-folder-close:before{
    background: url(./icons/Crono_menu_triangleObscur.png) no-repeat;

}

@media (max-width: 768px){
	.expand .left-panel-toggle{
		display: block;
	}
	
}

/*Retoques 2*/
.expand .panel-user-wrapper.style1 img {
    max-width: 225px;
    width: 225px;
    margin:30px 0;
}

.card{
	border-radius: 0 !important;
}

.left-menu-parent ul a {
	padding: 5px 7px 2px 45px !important;
}

.card-columns .card {
    margin-bottom: 1.5rem !important;
}

.card-columns {
	column-gap: 1.5rem !important;
	max-width: 900px !important;
}

@media (min-width: 1200px){
	
}

@media (min-width: 768px){
	.panel-cp #u-left-panel {
	    width: 39px;
	    display: block;
	}
}

.panel-user-wrapper.style1.min img {
    max-width: 28px;
    /* margin-right: 5px; */
    /* padding-right: 14px; */
    position: absolute;
    top: 36px;
    left: 5.5px !important;
}

.collapse-true.panel-cp.panel-lg .left-panel-toggle {
    margin-left: 12px !important;
    margin-top: 9px !important;
}

.panel-user-wrapper {
   
    margin-left: 34px !important;
}

.panel-user-wrapper.style1 img {
    max-width: 173px;
}

.left-menu-parent a:focus{
	color: white;
}

#u-left-panel {
    background-color: var(--azul);
}

.glyphicon.glyphicon-menu-hamburger {
    color: white;
}


	.header-panel{
-webkit-box-shadow: -1px 6px 4px 0px var(--azul-oscuro);
-moz-box-shadow: -1px 6px 4px 0px var(--azul-oscuro);
    box-shadow: -1px 6px 4px 0px var(--azul-oscuro);
}

.expand .header-panel{
-webkit-box-shadow: none;
-moz-box-shadow: none;
    box-shadow: none;
}


#u-left-menu{
	z-index: -5;
}

.container-fluid{
  width: auto;
}


.content-shrink {
    margin-left: 240px !important;
    left: 0px !important;

}

.panel-sm.expand .content-shrink.container-fluid{
  display: none;
}

@media (min-width: 768px){
.panel-cp .content-shrink {
    margin-left: 50px !important;
}}

@media (min-width: 768px){
.panel-lg .content-shrink {
    margin-left: 35px !important;
}}

@media (max-width: 768px){
    #u-left-panel{
        display: none !important;
    }
    .panel-sm #u-left-panel{
        display: block !important;
    }
    .panel-sm.ini #u-left-panel{
        display: none !important;
    }

    .content-shrink {
        margin-left: 0 !important;
    }
}